<footer class="">
  <div class="footer-information">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

  <div><p>&copy; Wanderlust Private limited</p></div>
  <div class="info-links"><a href="#">Privacy</a><a href="#">Terms</a></div>
</footer>
