<%= layout("layouts/boilarplate") %>
<body>
  <h3>Create a New Listing</h3>

  <div class="row form-full">
    <div class="col-8 offset-2">
      <form method="post" action="/listings">
        <!-- Nested object: listing -->

        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Give a Title"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            placeholder="Description"
            class="form-control"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="Give image link"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="Enter country"
              class="form-control"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="location"
            class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-outline-success">Add</button>
      </form>
    </div>
  </div>
</body>
